# .streamlit/secrets.toml
# Bu dosyayı Streamlit Cloud'da Settings > Secrets kısmına kopyala
# VEYA local'de .streamlit/secrets.toml olarak kaydet

SUPABASE_URL = "https://tlcgcdiycgfxpxwzkwuf.supabase.co"
SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRsY2djZGl5Y2dmeHB4d3prd3VmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU2NDgwMjksImV4cCI6MjA4MTIyNDAyOX0.4GnWTvUmdLzqcP0v8MAqaNUQkYgk0S8qrw6nSPsz-t4"
